<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/lab3?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>

        <mapping class="com.andrii.model.models.City"/>
        <mapping class="com.andrii.model.models.Country"/>
        <mapping class="com.andrii.model.models.Days"/>
        <mapping class="com.andrii.model.models.Forecast"/>
        <mapping class="com.andrii.model.models.WeatherStatus"/>
        <mapping class="com.andrii.model.models.WeatherWarning"/>
        <mapping class="com.andrii.model.models.WeatherWeeklyForecast"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>